<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag("informant_logo.png", height: 40) %> 
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <p class="navbar-text">Signed in as: <%= @presenter.name %></p>
    </li>
    <li class="nav-item">
      <%= link_to 'log out', logout_path, method: :get, class: 'nav-link' %>
    </li>
  </ul>
</nav>