<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
    <h1 class="display-4">Senate activity from the past 30 days:</h1>
    <p class="lead">Below you will find the most recent votes from the US Senate. If related news could be found, links are provided in the 'Related News' drop down.</p>
  </div>
</div>

<div class="container">
  <div class="vote-list row">

  </div>
</div>

<%= javascript_include_tag('user_dashboard.js') %>
