<div class="bg">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-8">
        <div class="card mb-3 special-card recent-vote">
          <div class="card-header">
            <h2 class="vote-date-title"> loading...</h2>
          </div>

          <div class="card-body">
            <h5 class="display-3 vote-question">loading...</h5>
            <h3 class="card-text vote-description">
              loding...
            </h3>
          </div>

          <div class="card-footer">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              related news
            </button>
            <div class="collapse vote-article-cards" id="collapseExample">
              
            </div>
          </div>
          <div class="card-footer">
            <p>
              <button type="button" class="btn btn-outline-info">sign up</button> to see everything that happened today.
            <p>
          </div>

        </div>
      </div>
    </div>  
  </div>
</div>

<%= javascript_include_tag('informant_get_request.js') %>